:root {
    --blue-primary: '#3559c7';
    --blue-secondary: '#00a3ff'
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

h3, a {
    font-size: 24px;
}

p, span, input {
    font-size: 16px;
}

.gradient-background {
    background: linear-gradient(to right, var(--blue-primary), var(--blue-secondary));
}

.animation-link {
    position: relative;
    top: 0;
    transition: top ease 0.4s;
}
  
.animation-link:hover {
    top: 4px;
}